body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}


body {
  background-color: #F5F5F5;
}



.navbar-inverse .navbar-brand {
    color: white;
}

 .navbar-inverse .navbar-nav > li > a {
    color: white;
}


.radiosop{
    margin-left:20px;
    margin-bottom:10px;
}

.instructions {
    font-size:20px;
    margin-top: -48px;
}

.bts{
    align-content: center;
}
.nameSkill{
    width: 70px;
}
.radio-inline {
    margin-bottom:10px;
    padding-bottom:10px;
}

.form-control {
    border-radius: 2px;
    border: none;
    border-bottom: 1px solid #E0E0E0;
    box-shadow: 0 1px 5px -2px rgba(0,0,0,.2);
    margin-bottom:10px;
}
.form-control:focus {
    box-shadow: 0 1px 5px -2px #42A5F5;
    border-bottom: 1px solid #2196F3;
  }
  

 .form-group  label {
    color: #616161;
 }


.form-control-validation(@text-color: #555; @border-color: #ccc; @background-color: #f5f5f5) {
  // Color the label and help text
  .help-block,
  .control-label,
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline,
  &.radio label,
  &.checkbox label,
  &.radio-inline label,
  &.checkbox-inline label  {
    color: @text-color;
  }

 .form-control {
    border-color: black;
    
  }

  .form-control:focus {
      box-shadow: 0 1px 5px -2px black;
    }

 